<div class="form-bg">
	<div class="row">
		<div class="large-8 medium-8 small-12 large-centered medium-centered columns">
			<div class="form-container">
				<div>
					<ul id="form-title" class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
						<li>
							<hr>
						</li>
						<li>
							<p>Ingresa a tu cuenta</p>
						</li>
						<li>
							<hr>
						</li>
					</ul>
				</div>
				<form name="myForm">
					<div class="form-field">
						<i class="fa fa-user"></i>
						<input type="text" ng-model="user" name"username" placeholder="Usuario" ng-pattern="/^[a-zA-Z0-9]+$/" required>
						{{ myForm.username.$valid }}
						<span style="color:red" ng-show="myForm.username.$dirty && myForm.user.$invalid">
  						<span ng-show="myForm.username.$error.required">Usuario es requerido.</span>
					</div>
					<div class="form-field">
						<i class="fa fa-lock"></i>
						<input type="password" ng-model="password" name="password" placeholder="Password" required>
					</div>
					<div>
						<a href="#" class="button round" ng-click="validate()">Iniciar sesión</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>