/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
 */
/* Github's Styl Guide
 */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/globals/global.sass */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 4, ../sass/globals/global.sass */
body {
  background-image: url("../../../img/background.png");
  background-repeat: repeat-y;
  background-size: 100%;
}
/* line 9, ../sass/globals/global.sass */
body a, body p, body span, body h6, body h5, body h4, body h3, body h2, body h1 {
  font-family: "Open Sans", sans-serif;
}

/* line 12, ../sass/globals/global.sass */
.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

/* line 19, ../sass/globals/global.sass */
.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: white;
  color: #333;
  cursor: pointer;
}
/* line 24, ../sass/globals/global.sass */
.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #e55e3a;
  color: white;
}
/* line 29, ../sass/globals/global.sass */
.top-bar-section li:not(.has-form) a.active {
  background-color: #54bc75;
  color: white;
}

/* line 1, ../sass/sections/abilities.sass */
.ability {
  margin-top: 2rem;
}
/* line 4, ../sass/sections/abilities.sass */
.ability #abilities-title {
  margin: 2.5rem 0;
}
/* line 7, ../sass/sections/abilities.sass */
.ability #abilities-title .btn-add {
  background-color: #726868;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 14, ../sass/sections/abilities.sass */
.ability #abilities-title .btn-add:hover {
  background-color: #897976;
}
/* line 17, ../sass/sections/abilities.sass */
.ability #abilities-title .btn-add:hover .fa {
  background-color: #726868;
}
/* line 20, ../sass/sections/abilities.sass */
.ability #abilities-title .btn-add .fa {
  color: white;
  background-color: #6b6262;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 27, ../sass/sections/abilities.sass */
.ability #abilities-title .btn-add span {
  padding: 10px;
  color: white;
  font-size: 12px;
}
/* line 34, ../sass/sections/abilities.sass */
.ability #abilities-list * {
  color: white;
}
/* line 37, ../sass/sections/abilities.sass */
.ability #abilities-list li {
  position: relative;
}
/* line 40, ../sass/sections/abilities.sass */
.ability #abilities-list .ability-icon {
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: 90% 60%;
  position: absolute;
  width: 92%;
  height: 86%;
  opacity: 0.5;
}
/* line 49, ../sass/sections/abilities.sass */
.ability #abilities-list .ability-tool {
  position: absolute;
  right: 8%;
  top: 5%;
}
/* line 54, ../sass/sections/abilities.sass */
.ability #abilities-list .ability-tool i {
  font-size: 12px;
  opacity: 0.5;
}
/* line 58, ../sass/sections/abilities.sass */
.ability #abilities-list .ability-container {
  padding: 2rem 1rem 1.5rem;
}
/* line 61, ../sass/sections/abilities.sass */
.ability #abilities-list .ability-container .ability-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}
/* line 66, ../sass/sections/abilities.sass */
.ability #abilities-list .ability-container .ability-time {
  font-size: 12px;
  margin-top: 0.5rem;
}

/* line 1, ../sass/sections/menu.sass */
.menu {
  margin-top: 5rem;
}
/* line 5, ../sass/sections/menu.sass */
.menu ul li {
  text-align: center;
  background-color: #D96055;
  cursor: pointer;
  padding: 0;
}
/* line 11, ../sass/sections/menu.sass */
.menu ul li:hover {
  background-color: #EB9552;
}
/* line 14, ../sass/sections/menu.sass */
.menu ul li a {
  color: white;
  font-weight: bold;
  padding: 2rem;
  display: block;
}

/* line 1, ../sass/sections/form.sass */
.form-bg {
  background-image: url(../../../images/banner.jpg);
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
/* line 8, ../sass/sections/form.sass */
.form-bg .form-container {
  margin-top: 2rem;
  background-color: white;
  padding: 2rem 1.5rem 0.3rem;
}
/* line 14, ../sass/sections/form.sass */
.form-bg .form-container #form-title p {
  color: #b6b6b6;
  font-size: 12px;
  margin-top: 12px;
  text-align: center;
}
/* line 20, ../sass/sections/form.sass */
.form-bg .form-container .form-field {
  position: relative;
}
/* line 23, ../sass/sections/form.sass */
.form-bg .form-container .form-field i {
  color: #b6b6b6;
  position: absolute;
  padding: 6px 10px;
  margin: 5px;
  border-right: 2px solid rgba(192, 192, 192, 0.5);
  width: 37px;
}
/* line 31, ../sass/sections/form.sass */
.form-bg .form-container .form-field input {
  padding-left: 3rem;
}
/* line 34, ../sass/sections/form.sass */
.form-bg .form-container .form-field span {
  font-size: 12px;
  margin-bottom: 1rem;
  display: block;
}
/* line 39, ../sass/sections/form.sass */
.form-bg .form-container a.button {
  padding: 0.7rem 2rem;
  font-size: 12px;
  font-weight: bold;
}

/* line 1, ../sass/sections/clock.sass */
.clock-container {
  margin-top: 2rem;
}
/* line 4, ../sass/sections/clock.sass */
.clock-container p {
  padding: 1rem;
}
