.ability
	margin-top: 2rem

	#abilities-title
		margin: 2.5rem 0

		.btn-add
			background-color: #726868
			cursor: pointer
			-webkit-border-radius: 3px
			-moz-border-radius: 3px
			border-radius: 3px

			&:hover
				background-color: #897976

				.fa
					background-color: #726868

			.fa
				color: white
				background-color: #6b6262
				padding: 10px
				border-top-left-radius: 5px
				border-bottom-left-radius: 5px

			span
				padding: 10px
				color: white
				font-size: 12px

	#abilities-list

		*
			color: white

		li
			position: relative

		.ability-icon
			background-repeat: no-repeat
			background-size: 45%
			background-position: 90% 60%
			position: absolute
			width: 92%
			height: 86%
			opacity: 0.5

		.ability-tool
			position: absolute
			right: 8%
			top: 5%

			i
				font-size: 12px
				opacity: 0.5

		.ability-container
			padding: 2rem 1rem 1.5rem

			.ability-name
				font-size: 24px
				font-weight: bold
				margin-bottom: 1rem

			.ability-time
				font-size: 12px
				margin-top: .5rem
